.scrollToTop {
    background-color: #d083cf;
    color: #fff
}

.scrollToTop:hover, .scrollToTop:focus {
    background-color: #fff;
    color: #d083cf;
    border-color: 1px solid #d083cf
}

.latest_newsarea span {
    background: none repeat scroll 0 0 #d083cf
}

.latest_post>h2 span {
    background: none repeat scroll 0 0 #d083cf
}

#prev-button {
    color: #d083cf
}

#next-button {
    color: #d083cf
}

.single_post_content>h2 span {
    background: none repeat scroll 0 0 #d083cf
}

.single_sidebar>h2 span {
    background: none repeat scroll 0 0 #d083cf
}

.bsbig_fig figcaption a:hover {
    color: #d083cf
}

.spost_nav .media-body>a:hover {
    color: #d083cf
}

.cat-item a:hover {
    background-color: #d083cf
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    background-color: #d083cf
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #d083cf
}

.single_sidebar>ul>li a:hover {
    color: #d083cf
}

.catgArchive {
    background-color: #d083cf
}
